@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
* {
  font-family: 'Titillium Web', sans-serif;
}

body {
  background: #fff;
  color: #1A1C19;
}

header img {
  width: 18em;
  margin: 1em auto;
}

main #kv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2em;
}

main #kv h1 {
  font-size: 2.5em;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1em;
}

main #kv h1 span {
  color: #576128;
}

main #kv img {
  max-width: 20em;
}

main ul {
  display: flex;
  margin: 1em auto;
  max-width: 800px;
}

main ul li {
  padding: 0 1.5em;
  border-left: 1px solid #DBDBDB;
}

main ul li img {
  width: 100px;
  margin: 0 auto;
}

main ul li .title {
  text-align: center;
}

main ul li .title h4 {
  font-size: 1.5em;
}

main ul li p {
  color: #565D51;
}

main ul li:first-child {
  border: none;
}

main footer p {
  text-align: center;
  padding: 2em 0 2em;
  font-weight: bold;
}

@media screen and (max-width: 789px) {
  main #kv h1 {
    font-size: 2.2em;
  }
  main #kv img {
    max-width: 18em;
  }
}

@media screen and (max-width: 760px) {
  main #kv {
    flex-direction: column-reverse;
  }
  main #kv h1 {
    font-size: 2em;
    text-align: center;
    line-height: 1em;
    margin-right: 0;
    margin-bottom: 1em;
  }
  main #kv img {
    max-width: 15em;
  }
  main ul {
    flex-direction: column;
  }
  main ul li {
    padding: 1em 2em;
    border-left: none;
  }
}
