@tailwind base
@tailwind components
@tailwind utilities

body
  background: #fff
  color: #1a1c19

@layer components
  .markdown
    a
      color: theme("textColor.main")
      text-decoration: underline
      &:hover
        color: theme("colors.highlight")

    h2
      color: theme("textColor.main")
      font-size: 1.5em
      font-weight: 400
      margin-top: 2rem
      margin-bottom: 1rem

    table
      border: 1px solid theme("colors.gray")

      th,
      td
        border: 1px solid theme("colors.gray")
        padding: 0.5rem
        text-align: left

    blockquote
      @apply ml-6 my-4 text-main italic
      >div
        @apply rounded relative before:w-1 before:rounded-l before:h-full before:absolute before:top-0 before:-left-2 before:bg-gray before:z-0
